#app-layout {
	min-height: 100%;
	display: flex;
	flex-direction: column;

	header, footer {
		background-color: dimgray;
		color: #eee;
		padding: .5rem;
		min-height: 40px;
	}

	main {
		flex: 1;
		display: flex;

		background-color: aquamarine;

		article {
			flex: 1;
		}

		nav, aside {
			background-color: darkgrey;
			width: 200px;
		}
	}
}

