
#app-layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	* {
		margin: 2px;
	}

	header, footer {
		background-color: dimgray;
		color: #eee;
		padding: .5rem;
		min-height: 40px;
	}

	main {
		flex: 1;
		display: flex;
		background-color: aquamarine;
		article {
			flex: 1;
			//overflow-y: auto;
			//min-height: 0px;
		}

		nav, aside {
			width: 200px;
		}
	}

	@media all and (max-width: 600px) {
		/* Too narrow to support three columns */
		main {
			flex-flow: column;
		}
		main > article, main > nav, main > aside {
			/* Return them to document order */
			order: 0;
			width: auto;
		}
	}
}