section, li {
	outline: 1px red dashed;
}

//html,
//body {
//	height: 100%;
//}
.flex-layout {
	height: 100%;
	display: flex;
	flex-direction: column;

	header,
	footer {
		min-height: 50px;
		flex: 1;
	}

	article {
		display: flex;
		flex: 12;
	}

	section {
		flex: 1;
		overflow: auto;
	}

	#center {
		flex: 3;
	}
}

li {
	padding: 3rem;
}
